
/* 
NOTES:
1) every main element (ex: <Row></Row>, the navbar, etc...) has a horizontal padding of 12.5% (e.g. "padding: 0 12.5%;")
*/


/* styles for the main search bar of the front page (index.js)  */

.containerSearchBar {
  margin-top: 5%;
  padding: 0;
  background-color: #faf6e9;
}

.mainSearchBar {
  padding: 0 20%;
}

.mainSearchBarSubtitle {
  padding-top: 3%;
}

.mainSearchBarBottom {
  padding-bottom: 6%;
}

.mainSearchBarContent {
  text-align: center;
  padding: 5% 2%;
}

/* styles for info section */
.containerInfo {
  margin: 5% 0;
}

.infoParagraph {
  text-align: right;
}

.main {
  /* background-color: white; */
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  background-color:var(--white);
}

.mainContent {
  justify-self: start;
  margin-left: 20px;
  color: var(--darkgray);
}

.mainContent h1 {
  font-size: 2rem;
}

.mainContent p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.mainBtn {
  font-size: 1rem;
  background-color: var(--brightred);
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all .35s;
  outline: none;
}

.mainBtn a {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-decoration: none;
}

.mainBtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  border-radius: 4px;
  background: #336af1;
}

.mainBtn:hover::after {
  width: 100%;
}

#mainImg {
  height: 80%;
  width: 80%;
}

.mainImgContainer {
  text-align: center;
}

/* Mobile response */
@media screen and (max-width: 768px) {
  .mainContainer {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 90%;
      margin: 0 auto;
      height: 90vh;
      background-color: var(--white);
  }

  .mainContent {
      justify-self: center;
      color: var(--darkgray);
      width: 80%;
      margin: 0;
  }

  .mainContent h1 {
      font-size: 2.5rem;
  }

  .mainContent p {
      margin-top: 1rem;
      font-size: 1.5rem;
  }

  #mainImg {
      display: none;
  }

@media screen and (max-width:480px) {
  .mainContent {
      text-align: center;
  }
  .mainContent h1 {
      font-size: 2.8rem;
  }
  .mainContent p {
      margin-top: 2rem;
      font-size: 1.5rem;
  }
  .mainBtn {
      padding: 12px 36px;
      margin-top: 2.5rem;
  }
}
}